<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.func_vehicle.gtablock">
  <Appenders>
    <JTextAreaAppender name="TextArea">
      <PatternLayout pattern="%msg"/>
    </JTextAreaAppender>
	<File name="File" fileName="app.log">
	  <PatternLayout pattern="%d{HH:mm:ss} [%-5level] %logger{36}- %msg%n"/>
	</File>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="TextArea" level="info"/>
	  <AppenderRef ref="File" level="trace"/>
    </Root>
  </Loggers>
</Configuration>